version: "3.9"

services:
  ngrok:
    image: ngrok/ngrok:latest
    command:
      - "http"
      - "backend:8000"
      - "--log=stdout"
    ports:
      - "4040:4040"
    depends_on:
      - backend
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    networks:
      - backend_network

  db:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: soccer_quiz
      MYSQL_USER: soccer_u
      MYSQL_PASSWORD: soccer_p
    ports:
      - "3306:3306"
    networks:
      - backend_network
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build:
      context: .
    container_name: backend_app
    env_file:
      - .env
    volumes:
      - .:/app
    working_dir: /app
    depends_on:
      - db
    command: sh /app/wait-for-db.sh     # ⬅️ Agora ele espera o MySQL
    networks:
      - backend_network
    ports:
    - "8000:8000"
    environment:
      - ENV=development
      - DEBUG=true

networks:
  backend_network:
    driver: bridge
volumes:
  db_data: