services:
  # Web Service (Backend)
  - type: web
    name: mata62-trab2-backend
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: 8000
      - key: DATABASE_URL
        fromDatabase:
          name: railway
          property: connectionString
      - key: JWT_SECRET_KEY
        generateValue: true
      - key: ENV
        value: production
      - key: DEBUG
        value: false

databases:
  # MySQL Database
  - name: railway
    databaseName: railway
    user: root
    plan: free